<!-- users/templates/users/inbox.html -->

{% extends 'main.html' %}
{% load static %}

{% block title %}Account{% endblock title %}

	{% block content %}
	
    <main class="inbox my-xl">
        <div class="content-box">
            <h3 class="inbox__title">New Messages(<span>{{unreadCount}}</span>)</h3>
            <ul class="messages">

                <!-- Header -->
                <li class="message message--unread">
                    <a href="">
                    <span class="message__author" style="color: skyblue;">From</span>
                    <span class="message__subject" style="color: skyblue;">Subject</span>
                    <span class="message__date" style="color: skyblue;">Date</span>
                    </a>
                </li>
                <!-- END Header -->
                
                {% for message in messageRequests %}
                <!-- Un-read messages -->
                <li class="message message--unread">
                    <a href="message.html">
                    <span class="message__author">{{message.name}}</span>
                    <span class="message__subject">{{message.subject}}</span>
                    <span class="message__date">{{message.created}}</span>
                    </a>
                </li>
                <!-- END Un-read messages -->
                {% endfor %}

                <!-- Read messages -->
                <li class="message">
                    <a href="message.html">
                    <span class="message__author">Sulamita Ivanov</span>
                    <span class="message__subject">Another Opportunity for Side Income</span>
                    <span class="message__date">May 29, 2021, 09:45 AM</span>
                    </a>
                </li>
                <!-- END Read messages -->
            </ul>
        </div>
    </main>

	{% endblock content %}