<!-- users/templates/users/login_register.html -->
{% extends 'main.html' %}

{% block title %}Login - Register{% endblock title %}

	{% block content %}

	<div style="margin-left: 200px;">
		{% if page == 'register' %}

		<h1>Register User</h1>

		<form 
			method="POST" 
			action="{% url 'users:register' %}">
			{% csrf_token %}

			<!-- Rendering the form instance -->
			{{ form.as_p }}
			
			<input 
				type="submit" 
				name="" 
				value="Register User">
		</form>

		<p>Already have account?
			<a href="{% url 'users:login' %}">Log in</a>
		</p>

		{% else %}
	</div>

	<br><br>

	<div style="margin-left: 200px;">
		
		<h1>Log in</h1>

		<form 
			method="POST" 
			action="{% url 'users:login' %}" 
			class="">
			{% csrf_token %}

			<input 
				type="text" 
				name="username"
				placeholder="Username">

			<input 
				type="password" 
				name="password"
				placeholder="Enter password">

			<input 
				type="submit" 
				name=""
				value="Login">

			<p>Don't have account yet?
				<a href="{% url 'users:register' %}">Sign up</a>
			</p>
		</form>
	</div>

	{% endif %}

	{% endblock content %}