<!-- users/templates/users/login_register.html -->
{% extends 'main.html' %}

{% block title %}Login - Register{% endblock title %}

	{% block content %}

	<h1>Login-Register</h1>

	<form 
		method="POST" 
		action="{% url 'users:login' %}" 
		class="">
		{% csrf_token %}

		<input 
			type="text" 
			name="username"
			placeholder="Username">

		<input 
			type="password" 
			name="password"
			placeholder="Enter password">

		<input 
			type="submit" 
			name=""
			value="Login">
	</form>

	{% endblock content %}