<!-- users/templates/users/accout.html -->
{% extends 'main.html' %}
{% load static %}

{% block title %}Profile form{% endblock title %}

	{% block content %}
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'users:account'%}"><i class="im im-angle-left"></i></a>
                <br>

				<h1>Edit Account</h1>

				<!----------- Form ----------->
				<form 
					action="{% url 'users:edit-account' %}" 
					method="POST"
					enctype="multipart/form-data"
					class="form">
					
					{% csrf_token %}

					{% for field in form %}
					<!-- Input:Text -->
			        <div class="form__field">
			            <label for="formInput#text">{{field.label}}:<br>
			            	{{field}}
			            </label>
			        </div>
			        {% endfor %}

					<input 
						type="submit" 
						name="" 
						value="Submit">
				</form>
				<!--------- END Form --------->

			</div>
		</div>
	</main>
	{% endblock content %}