<!-- projects/templates/projects/projects.html -->
{% extends 'main.html' %}

{% block title %}
{{title}}
{% endblock title %}

	{% block content %}

	<h1>Projects</h1>

	<table>
		<tr>
			<th>Title</th>
			<th>Positive votes</th>  
			<th>Votes</th>
			<th>Created</th>
			<th></th>
		</tr>
		{% for project in projects %}
		<tr>
			<td>{{project.title}}</td>
			<td>{{project.vote_ratio}}%</td>
			<td>{{project.vote_total}}</td>
			<td>{{project.created}}</td>
			<td><a href="{% url 'projects:project' project.id %}">View</a>
		</tr>
		{% endfor %}
	</table>
	
	<hr>
	{% endblock content %}
