<!-- projects/templates/projects/projects.html -->
{% extends 'main.html' %}

{% block title %}
{{title}}
{% endblock title %}

	{% block content %}

	<p>We have a message: <span  style="background-color:#F2766B;">{{message}}</span></p>

	<p>We have another message: <span  style="background-color:#79C9F5;">{{message2}}</span></p>

	<!-- Logic -->
	{% if number > 10 %}
		<p>The numbar is greater than 10</p>
	{% else %}
		<p>It less than 10!</p>	
	{% endif %}

	<h1  style="background-color:red">Projects Template</h1>

	{% for project in projects %}
		<ul>
			<li><b>Product id:</b> {{project.id}}</li>
			<li><b>Product title:</b> {{project.title}}</li>
			<li><b>Product description:</b> {{project.description}}</li>
		</ul>
	{% endfor %}
	<hr>
	{% endblock content %}
