<!-- projects/templates/projects/projects.html -->
{% extends 'main.html' %}

	{% block content %}
        <main class="singleProject my-md">
            <div class="container">
                <div class="layout">

                    <!-- Aside -->
                    <div class="column column--1of3">
                        <h3 class="singleProject__subtitle">Tools & Stacks</h3>
                        <div class="singleProject__toolStack">
                        	{% for tag in project.tags.all %}
                            <span class="tag tag--pill tag--sub tag--lg">
                            <small>{{tag}}</small>
                            </span>
                            {% endfor %}
                        </div>
                        <!-- Source code -->
                        {% if project.source_link %}
                        <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Source code
                        </a><br>
                        {% else %}
                        <a class="singleProject__liveLink" style="color:#51546E;"><i class="im im-external-link"></i>No source code</a><br>
                        {% endif %}

                        <!-- Live demo -->
                        {% if project.demo_link %}
                        <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Live demo
                        </a>
                        {% else %}
                        <a class="singleProject__liveLink" style="color:#51546E;"><i class="im im-external-link"></i>No live demo</a>
                        
                        {% endif %}
                    </div>
                    <!-- END Aside -->

                    <div class="column column--2of3">

                        <!-- The project's image, owner, title, description  -->
                        <img 
                            class="singleProject__preview" 
                            src="{{project.featured_image.url}}" 
                            alt="portfolio thumbnail" />

                        <a 
                            href="{% url 'users:user-profile' project.owner.id %}" 
                            class="singleProject__developer">{{project.owner.name|title}}</a>

                        <h2 class="singleProject__title">{{project.title}}</h2>

                        <h3 class="singleProject__subtitle">About the Project</h3>
                        <div class="singleProject__info">
                            {{project.description}}
                        </div>
                        <!-- END The project's image, owner, title, description  -->
                        
                        <!-- Feedback -->
                        <div class="comments">
                            <h3 class="singleProject__subtitle">Feedback</h3>

                            <!-- Vote -->
                            <h5 class="project--rating">
                                {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
                            </h5>
                            <!-- END Vote -->

                            <!-- Comment form -->
                            <form class="form" action="#" method="POST">
                                <!-- Textarea -->
                                <div class="form__field">
                                    <label for="formInput#textarea">Comments: </label>
                                    <textarea 
                                        class="input input--textarea" 
                                        name="message" 
                                        id="formInput#textarea"
                                        placeholder="Write your comments here..."></textarea>
                                </div>
                                <input 
                                    class="btn btn--sub btn--lg" 
                                    type="submit" 
                                    value="Comments" />
                            </form>
                            <!-- END Comment form -->

                            <div class="commentList">

                                {% for review in project.review_set.all %}
                                {% if review.body %}
                                <!-- Review and Reviewer -->
                                <div class="comment">
                                    <a href="{% url 'users:user-profile' review.owner.id %}">
                                    <img class="avatar avatar--md"
                                        src="{{review.owner.profile_image.url}}" alt="user" />
                                    </a>
                                    <div class="comment__details">
                                        <a 
                                            href="{% url 'users:user-profile' review.owner.id %}" 
                                            class="comment__author">{{review.owner.name|title}}</a>
                                        <p class="comment__info">{{review.body|linebreaksbr}}</p>
                                    </div>
                                </div>
                                <!-- END Review and Reviewer -->
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        <!-- END Feedback -->

                    </div>
                </div>
            </div>
            </div>
        </main>
	{% endblock content %}
